* {
  margin: 0;
  padding: 0;
  color: white; }

body {
  background-color: #282a2e; }

nav {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between; }
  nav ul {
    display: flex;
    align-items: flex-end; }
    nav ul li {
      list-style-type: none;
      padding-left: 2em; }
  nav a {
    text-decoration: none; }
  nav > a:first-child {
    font-size: 24px; }

header {
  height: 700px;
  background-image: url("bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header h1 {
    font-size: 60px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  header p {
    margin-top: 50px;
    font-size: 20px; }

#about {
  padding: 90px 0;
  background: #453a34; }
  #about h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px; }

.about {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.circle {
  width: 200px;
  height: 200px;
  border-radius: 200px 200px;
  border: 2px solid gray;
  background: url("circle.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.introduction, .education {
  max-width: 450px; }

#cv {
  padding: 90px 0; }
  #cv h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px; }

.cv {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .cv h3 {
    text-align: center;
    padding-bottom: 20px; }
  .cv p {
    display: inline-block;
    padding-right: 20px;
    vertical-align: text-top; }
  .cv ul {
    display: inline-block;
    padding-right: 20px;
    list-style-type: none; }

.knowledge {
  min-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }

#portfolio {
  padding: 90px 0;
  background: #453a34; }
  #portfolio h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px; }

.portfolio {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .portfolio img {
    border: 2px solid gray;
    border-radius: 20px;
    width: 500px;
    height: auto; }
  .portfolio a {
    margin-top: 40px;
    display: block; }

#contact {
  text-align: center;
  padding: 90px 0; }

.contact {
  width: 1200px;
  margin: auto;
  text-align: left;
  padding-top: 40px; }
  .contact input {
    border: 1px solid #2ab9a7;
    height: 40px;
    width: 400px;
    margin-bottom: 20px;
    display: block; }
  .contact textarea {
    border: 1px solid #2ab9a7;
    height: 100px;
    width: 400px;
    resize: none; }
  .contact button {
    display: block;
    background-color: #6b2e68;
    border: 2px solid #6b2e68;
    font-size: 30px;
    border-radius: 4px;
    padding: 5px 20px;
    margin-top: 20px; }
  .contact p {
    font-size: 20px;
    margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
