body {
    background: url(cbg.jpg);
}

#container {
    width: 960px; margin: 0 auto;
}

#content {
    background: white;
    margin: 100px auto 100px auto;
    padding: 57px 69px 50px 69px;
    box-shadow: 1px 1px 20px #888888;
}