/*
Error: Invalid CSS after "#d1d5d7": expected expression (e.g. 1px, bold), was ";"
        on line 5 of phone.svg

1: <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="43.25" height="62.91" viewBox="0 0 43.25 62.91">
2:   <defs>
3:     <style>
4:       .cls-1 {
5:         fill: #d1d5d7;
6:         fill-rule: evenodd;
7:       }
8:     </style>
9:   </defs>
10:   <path d="M37.345,62.908 L5.897,62.911 C2.639,62.911 -0.000,60.272 -0.000,57.014 L-0.000,5.910 C-0.000,2.653 2.639,0.014 5.897,0.014 L37.345,0.012 C40.602,0.012 43.241,2.652 43.241,5.908 L43.241,57.012 C43.241,60.269 40.602,62.908 37.345,62.908 ZM39.310,5.908 C39.310,4.824 38.429,3.943 37.345,3.943 L5.897,3.945 C4.812,3.945 3.931,4.825 3.931,5.910 L3.931,9.841 L39.310,9.839 L39.310,5.908 ZM39.310,11.805 L3.931,11.807 L3.931,51.110 L39.310,51.107 L39.310,11.805 ZM39.310,53.073 L3.931,53.075 L3.931,57.014 C3.931,58.098 4.812,58.979 5.897,58.979 L37.345,58.977 C38.429,58.977 39.310,58.097 39.310,57.012 L39.310,53.073 ZM22.603,57.005 L20.638,57.005 C20.095,57.005 19.655,56.565 19.655,56.021 C19.655,55.478 20.095,55.039 20.638,55.039 L22.603,55.039 C23.147,55.039 23.586,55.478 23.586,56.021 C23.586,56.565 23.147,57.005 22.603,57.005 ZM18.672,5.908 L24.569,5.908 C25.112,5.908 25.552,6.348 25.552,6.891 C25.552,7.434 25.112,7.874 24.569,7.874 L18.672,7.874 C18.129,7.874 17.690,7.434 17.690,6.891 C17.690,6.348 18.129,5.908 18.672,5.908 Z" class="cls-1"/>

Backtrace:
phone.svg:5
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/script/lexer.rb:221:in `expected!'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/script/parser.rb:600:in `assert_done'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/script/parser.rb:63:in `parse'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/script/parser.rb:183:in `parse'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/script.rb:27:in `parse'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:1130:in `parse_script'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:720:in `parse_property'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:691:in `parse_property_or_rule'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:657:in `parse_line'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:535:in `build_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:554:in `block in append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:544:in `block in build_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `build_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:554:in `block in append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:544:in `block in build_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `build_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:554:in `block in append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:544:in `block in build_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `build_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:554:in `block in append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:544:in `block in build_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:537:in `build_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:554:in `block in append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:553:in `append_children'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:406:in `_to_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
C:/Ruby22-x64/bin/sass:23:in `load'
C:/Ruby22-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"#d1d5d7\": expected expression (e.g. 1px, bold), was \";\"\A         on line 5 of phone.svg\A \A 1: <svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" preserveAspectRatio=\"xMidYMid\" width=\"43.25\" height=\"62.91\" viewBox=\"0 0 43.25 62.91\">\A 2:   <defs>\A 3:     <style>\A 4:       .cls-1 {\A 5:         fill: #d1d5d7;\A 6:         fill-rule: evenodd;\A 7:       }\A 8:     </style>\A 9:   </defs>\A 10:   <path d=\"M37.345,62.908 L5.897,62.911 C2.639,62.911 -0.000,60.272 -0.000,57.014 L-0.000,5.910 C-0.000,2.653 2.639,0.014 5.897,0.014 L37.345,0.012 C40.602,0.012 43.241,2.652 43.241,5.908 L43.241,57.012 C43.241,60.269 40.602,62.908 37.345,62.908 ZM39.310,5.908 C39.310,4.824 38.429,3.943 37.345,3.943 L5.897,3.945 C4.812,3.945 3.931,4.825 3.931,5.910 L3.931,9.841 L39.310,9.839 L39.310,5.908 ZM39.310,11.805 L3.931,11.807 L3.931,51.110 L39.310,51.107 L39.310,11.805 ZM39.310,53.073 L3.931,53.075 L3.931,57.014 C3.931,58.098 4.812,58.979 5.897,58.979 L37.345,58.977 C38.429,58.977 39.310,58.097 39.310,57.012 L39.310,53.073 ZM22.603,57.005 L20.638,57.005 C20.095,57.005 19.655,56.565 19.655,56.021 C19.655,55.478 20.095,55.039 20.638,55.039 L22.603,55.039 C23.147,55.039 23.586,55.478 23.586,56.021 C23.586,56.565 23.147,57.005 22.603,57.005 ZM18.672,5.908 L24.569,5.908 C25.112,5.908 25.552,6.348 25.552,6.891 C25.552,7.434 25.112,7.874 24.569,7.874 L18.672,7.874 C18.129,7.874 17.690,7.434 17.690,6.891 C17.690,6.348 18.129,5.908 18.672,5.908 Z\" class=\"cls-1\"/>"; }
